$color1: #247ba0; //rgba(36, 123, 160, 100)
$color2: #70c1b3; //rgba(112, 193, 179, 100)
$color3: #b2dbbf; //rgba(178, 219, 191, 100)
$color4: #f3ffbd; //rgba(243, 255, 189, 100)
$color5: #ff1654; //rgba(255, 22, 84, 100)